{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<img src="/static/books.png" class="rounded mx-auto d-block" alt="BookSync Logo">
<h2>Welcome to <i>your</i> BookSync!</h2>
<p><b>BookSync</b> is your personal digital bookshelf — a simple and powerful way to track,
  organize, and plan all the books you want to read. <br>
  <br>
  To begin, firstly register an account using the 'Register' button above in the Navigation Bar.<br>
  If you already have an account, click log in and enter your credentials.
</p>
{% endblock %}